fastapi
uvicorn
sqlalchemy
pydantic
httpx
python-multipart
python-dotenv
black
psycopg2-binary
alembic
pgvector
openai
langchain-openai
langgraph-checkpoint-postgres
langchain-postgres
pytest
pytest-asyncio
python-jose[cryptography]
bcrypt>=4.0.1,<5.0.0
langsmith
langgraph
slowapi